<div id="container">
	<div class="row">
		<br/><br/>
		<div class="small-2 columns " >
			Auto-refresh every :
		</div>
		
		<div class="small-1 columns " >
			<select ng-model="interval" ng-options="o.name for o in intervalOptions" ng-change="setRefreshInterval()" ></select>
		</div>
		
		<div class="small-1 columns " >
			<input ng-click="refreshClicked()" type="button" value="refresh" class="alert button tiny radius" />
			
			<span class="refreshing" ng-show="updating">
				<img src="images/ajax-loader.gif" alt="loading" title="" />
			</span>
		</div>
		
		<div class="small-8 columns left " >
			<div isteven-multi-select
			helper-elements=""
			input-model="sensors"
			output-model="visibleSensors"
			button-label="Active sensors"
			max-labels="1"
			item-label="name"
			tick-property="visible"
			button-label-fn="getActiveSensorLabel()">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="small-12 columns">
			<div class="wall" gridster="gridsterOpts">
				<ul>
					<li gridster-item="sensor" class="box" style="" row="sensor.row" col="sensor.col" size-x="sensor.size.x" size-y="sensor.size.y" ng-repeat="sensor in sensors | filter:{visible:true}">
						<sensor-widget sensor="sensor"></sensor-widget>
					</li>
				</ul>
			</div>
        </div>
    </div>
</div>
